body {
    background: #f5d9df;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #006600;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
}

#mainNavbar, footer {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: #006600;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

#headingGroup span {
    color: #ea1c2c;
}

.navbar.scrolled {
    background-color: #dec0de;
    transition: background .25s;
}

.footer-link, .footer-link:visited {
    color: #006600;
}

.fa-github, .fa-heart, .fa-linkedin {
    color: #006600;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}
  
.fa-github:hover, .fa-linkedin:hover {
    transform: rotateY(360deg) scale(1.4);
    color: #ea1c2c;
}

.fa-heart:hover {
    transform: scale(1.25);
    color: #ea1c2c;
}

@media (max-width: 1250px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    } 
}